{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en-US">
<head>
<meta charset="utf-8">
<title>505 | Vibe Music - Music Web App</title>
<meta name="description" content="Responsive, Bootstrap, BS4">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="{% static 'libs/slick-carousel/slick/slick.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'libs/slick-carousel/slick/slick-theme.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
</head>
<body class="layout-row bg-dark">
<div class="d-flex flex align-items-center h-v"><div class="text-center p-5 w-100">
<h1 class="display-5 my-5 text-theme">Don't worry, we'll fix it soon!</h1>
<p>Go back to <a href="{% url 'home' %}" class="b-b b-white">Home</a> or <a href="#" class="b-b b-white">Contact Us</a> about an issue</p>
<p class="my-5 text-muted h4">-- 505 --</p>
</div></div>
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script><script src="{% static 'libs/popper.js/dist/umd/popper.min.js' %}"></script><script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script><script src="{% static 'libs/pjax/pjax.min.js' %}"></script><script src="{% static 'assets/js/ajax.js' %}"></script><script src="{% static 'assets/js/lazyload.config.js' %}"></script><script src="{% static 'assets/js/lazyload.js' %}"></script><script src="{% static 'assets/js/plugin.js' %}"></script><script src="{% static 'libs/scrollreveal/dist/scrollreveal.min.js' %}"></script><script src="{% static 'libs/slick-carousel/slick/slick.min.js' %}"></script><script src="{% static 'libs/feather-icons/dist/feather.min.js' %}"></script><script src="{% static 'assets/js/theme.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/twemoji@14.0.2/dist/twemoji.min.js" crossorigin="anonymous"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    twemoji.parse(document.body, { folder: 'svg', ext: '.svg', base: 'https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/' });
    var style = document.createElement('style');
    style.textContent = 'img.emoji { height: 1.1em; width: 1.1em; margin: 0 .05em 0 .1em; vertical-align: -0.15em; display: inline; }';
    document.head.appendChild(style);
});
</script>
</body>
</html>
